#recovery{
	margin:200px auto 0px auto;
	width:580px;
	padding:30px;
	background-color: #555;
	border-radius: 2px;

			/**** Shadows *****/

	text-shadow:2px 2px #555;
	-moz-box-shadow: 1px 2px 5px #999;
	-webkit-box-shadow: 1px 2px 5px #999;
	box-shadow: 1px 2px 5px #999;
}

	#recovery table{
		color:white;
	}

	#recovery table tr td{
		padding:15px;
	}