body{
	background-color: #f5f5f5;
}

#login-box{
	margin:100px auto 0px auto;
	width: 350px;
	padding:30px;
	background-color: #555;
	border-radius: 1px;

			/**** Shadows *****/

	text-shadow:2px 2px #555;
	-moz-box-shadow: 1px 2px 5px #999;
	-webkit-box-shadow: 1px 2px 5px #999;
	box-shadow: 1px 2px 5px #999;
}
	#login-box table{
		width:350px;
	}

	#login-box table tr td{
		padding: 15px;
	}

	#login-box table tr td a{
		color: white;
	}

.myText{
	padding: 8px;
	font-size: 15px;
	width: 325px;
	border-radius: 1px;
	border: 1px solid transparent;
	outline:2px solid transparent;
}
	.myText:hover{
		outline:2px solid #5a5;
	}

	.myText:focus{
		outline:2px solid #393;
	}

.myButton{
	font-size: 18px;
	padding: 8px;
	width: 80px;
	background-color: #393;
	border:0px solid transparent;
	color:white;

		/**** Shadows ****/

	text-shadow:2px 2px #555;
	-moz-box-shadow: 1px 2px 5px #333;
	-webkit-box-shadow: 1px 2px 5px #333;
	box-shadow: 1px 2px 5px #333;
	border-radius: 1px;
}

